form {
    background-color: #B7B9B8;
    text-align: left;
    padding: 45px 25px 20px 25px;
}
input {
    width: 95%;
    height: 30px;
    padding: 0 10px 0 10px;
}
.box{
    margin: 10px 0 10px 0;
}
.message {
    margin: 10px 0 10px 0;
    height:100px;
    
}
.form {
    padding: 20px 0 0 0;
}

.hr-contact {
    border: 5px;
    border-top: 3px solid black;
}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:992px) {  
    body {
        padding-bottom: 0px
    }

    /* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {  
    body {
        padding-bottom: 0px
    }
}

/* Small devices (tablets, 640px and up) */
@media screen and (max-width:640px) {  
    body {
        padding-bottom: 0   px
    }
    form {
        background-color: #B7B9B8;
        text-align: center;
        padding: 45px 25px 20px 25px;
    }
        .p_head {
            text-align: center;
    }

    
}




