body {
    font-family: 'Cantarell', sans-serif;
    /* padding: 0; */
    /* margin: 0; */
    font-weight: bold;
    background:url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}


header {
    background-color: rgb(23, 123, 155, 0.8);
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 10px;
    border-color: rgb(16, 33, 40, 0.8);
    border-style: solid;

}

/*
======================
ANIMATION
=====================
*/
header {
background-color: rgb(23, 123, 155, 0.8);
-webkit-animation-name: example; 
-webkit-animation-duration: 130; 
animation-name: example;
animation-duration: 30s;
}

@-webkit-keyframes example {
0%   {background-color: rgb(136, 136, 136);}
25%  {background-color: rgb(132, 171, 207);}
50%  {background-color: rgb(52, 126, 160);}
100% {background-color: rgb(62, 166, 226);}
}

@keyframes example {
    0%   {background-color: rgb(136, 136, 136);}
    25%  {background-color: rgb(132, 171, 207);}
    50%  {background-color: rgb(52, 126, 160);}
    100% {background-color: rgb(62, 166, 226);}
}

/*
======================
ANIMATION
=====================
*/
.head-name {
    background-color: rgb(92, 111, 118, 0.8);
    position: absolute;
    font-size: 40px;
    left:200px;
    top:10px;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    color: white;

}
nav {
    display: inline-flex;
    background-color: rgb(92, 111, 118, 0.8);
    position: absolute;
    right:200px;
    top:24px;
    width: fit-content;
    text-align: center;
    padding: 10px;
    border-radius: 3px


}
        .lineup {
            display: inline;
            border-right: 1px solid #F3F3F3;
            padding:0 10px 0 10px;  
        }

        #noline {
            display: inline; 
            padding:0 10px 0 10px;
        }  
        a {
            display: inline;
        }


aside {
    background-color: rgb(92, 111, 118, 0.8);
    width: 100%;    
    text-align: center;
    padding: 10px 0 10px 0;
    visibility: hidden;
    margin-bottom:-10px;
    width: 100%
}


.button:hover {
    background-color: #ddd;
    color: black;
  }

a {
    padding: 10px 0 10px 0;
}


.p {
    box-sizing: content-box;
    background-color: rgba(116, 137, 145, 0.9);
    margin: -50px 100px 0px 100px;
    padding: 45px 20px 85px 20px;
    line-height: 2;
    border-radius: 3px;
    border-width: 5px;
    border-color: rgb(16, 33, 40, 0.8);
    border-style: solid;
}
.p_head {
    font-size: 30px
}
hr {
    border-color:black;
    margin-bottom: 20px;
}
.profile-pic {
    height: 300px;
    width: 300px;
    float: left; 
    margin-right:20px;
}

footer {
    background-color: rgb(16, 33, 40, 0.8);
    position: absolute;
    bottom:0;
    width: 100%;    
    text-align: center;
    display: inline;
    padding:5px 0 5px 0;
    
}


/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:992px) {  
    body {
        padding-bottom: 60px
    }
    header {
        background-color: rgb(23, 123, 155, );
        position: relative;
        width: 100%;
        height: 60px;
}
.head-name{
    left: unset
}
nav {   
    right: 0
}
.p {
    margin-left: 50px;
    margin-right: 50px;
}


/* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {  
    header {
        background-color: rgb(23, 123, 155, );
        position: relative;
        width: 100%;
        height: 60px;
        left: auto;
        right: auto;
    }

    .p {
        padding: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top:20px
    }
    h3 {
        display: inline-flex;
    }
    }




/* Small devices (tablets, 640px and up) */
@media screen and (max-width:640px) {  
    header {
        /* background-color: rgb(23, 123, 155, 0.0); */
        position: relative;
        width: 100%;
        height: 60px;
        left: auto;
        right: auto;
        border-bottom: 10px 0 10px 0;
        border-color: rgb(16, 33, 40, 0.0);
        border-style: solid;
        }
    .head-name{
        background-color: rgb(23, 123, 155, 0.0);
        text-align: center;
        position: unset;
        padding-bottom:18px;
        border-bottom: 10px;
        border-color: rgb(16, 33, 40, 0.8);
        border-style: solid;
    }
    nav {   
        visibility: hidden;
    }
    aside {
        visibility: unset;
        width: 100%
    }
    .p-head {
        text-align: center;
    }
    .profile-pic {
        float: none;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:10px;
        width:90%;
        height: auto;
    }
    .p {
        padding: 20px;
        margin-top: 40px;
        text-align: center
    }
   
    }           