body {
    font-family: 'Cantarell', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(23, 123, 155, 0.8);
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom:75px

}
.head-name {
    background-color: rgb(92, 111, 118, 0.8);
    position: absolute;
    font-size: 40px;
    left:100px;
    top:20px;
}
nav {
    display: inline-flex;
    background-color: rgb(92, 111, 118, 0.8);
    position: absolute;
    right:100px;
    top:24px;
    width: fit-content;
    text-align: center;
    padding: 10px;

}
        .lineup {
            display: inline;
            border-right: 1px solid #F3F3F3;
            padding:0 10px 0 10px;  
        }

        #noline {
            display: inline; 
            padding:0 10px 0 10px;
        }  
        a {
            display: inline;
        }




.p {
    background-color: rgb(92, 111, 118, 0.8);
    margin: 0 100px 0 100px;
    padding: 40px 20px 40px 20px;
    line-height: 2;
}
.p-head {
    font-size: 30px
}

.profile-pic {
    height: 250px;
    width: 250px;
    float: left; 
    margin-right:10px;
}






footer {
    background-color: rgb(16, 33, 40, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;    
    text-align: center;
    display: inline;
    padding:5px 0 5px 0;
}



/* Small devices (tablets, 768px and up) */
@media screen and (max-width:768px) {  
header {
    background-color: brown;
}
}

/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:992px) {  

/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px) {  
