.nav  {
    background-color: rgba(255, 200, 171, 0.5);
    display: flex;
    justify-content: space-evenly;
}
    
footer {
    position: fixed;
    bottom: 0;
    margin-top: 20px;
    background-color: rgba(129, 151, 188, 0.5) ;
    width:100%;
    text-align: center;
    padding: 10px 0 10px 0;
}

h3 {
    font-size: 15px;
}
#nav {
    margin-left:20px;
    width: 100%;
}