
a.nav-link:link
{
   color: white;
   text-decoration: none;
}
a.nav-link:visited
{
   color: white;
   text-decoration: none;
}
a.nav-link:hover
{
   color: white;
   text-decoration: none;
   /* background-color: #314655 */
}
a.nav-link:active
{
   color: white;
   text-decoration: none;
}